/* Untuk WebKit (Chrome, Safari) */
::-webkit-scrollbar {
    width: 5px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, #ff6b6b, #9152e8);
    border-radius: 6px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(45deg, #ff4785, #764ba2);
  }
  
  /* Untuk Firefox */
  ::-moz-scrollbar {
    width: 12px;
  }
  
  ::-moz-scrollbar-thumb {
    background: linear-gradient(45deg, #ff6b6b, #9152e8);
    border-radius: 6px;
  }
  
  ::-moz-scrollbar-thumb:hover {
    background: linear-gradient(45deg, #ff4785, #764ba2);
  }
  